* {
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1194px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.search-form{
    margin-left: 76px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    flex-grow: 1;
    position: relative;
}
.search-input{
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-top: 13px;
    padding-right: 20px;
    padding-bottom: 13px;
}
.search-button{
    background-color:transparent;
    border:none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}
.auth{
    margin-left: auto;
}
.login{
    background: #EBEBEB;
    border-radius: 50px;
    padding: 16px 30px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.shoping-cart{
    position: relative;
    text-decoration: none;
    width: 49px;
    height: 49px;
    border-radius:50%;
    background: #F66A15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.shopping-counter{
    position: absolute;
    background: #FFAF19;
    right: 0;
    bottom: 0;
    font-size: 8px;
    line-height: 9px;
    color: #000000;
    border-radius: 50%;
    display: block;
    padding: 5px;
}
.slide{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    min-height: 400px;
    /* display: flex; */
    align-items: center;
    padding: 100px;
}
.slide-content{
    position: relative;
    max-width: 400px;
}
.slide-image{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide-text-light{
    /* background-color:grey; */
    color:white;
}
.slide-title{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
}
.slide-text{
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 30px;
}
.button-primary{
    background: #F47322;
    color:#fff;
}
.button-default{
    background-color:#fff;
    color: #5F5F61;
}
.button{
    border-radius: 25px;
    padding: 12px 50px;
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
}
/* .slide-summer{
    z-index: -2;
    background-image: url(/img/summer.png);
    background-repeat: no-repeat;
    background-size: cover;
} */
.slide::before{
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%); 
}
.promo{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: -22px;
}
.card{
    margin: 22px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    padding: 32px;
    /* margin-left: 54px; */
    width: 570px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card::before{
    z-index: -1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.card-text-light{
    color:#fff;
}
.card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-top: 4px;
    margin-bottom: 21px;
}
.card-description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    max-width: 200px;
}
.card-price{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 8px;
}
.card-delivery{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 25px;
}
.card-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.delivery{
    margin-top: 110px;
    margin-bottom: 100px;
}
.delivery-cards{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.delivery-text{
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 47px;
}
.delivery-card{
    margin: 15px ;
    position: relative;
    width: 275px;
    height: 182px;
    border-radius: 18px;
    overflow: hidden;
}
.delivery-card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delivery-tag{
    padding: 5px 10px;
    top: 16px;
    left: 10px;
    position: absolute;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.health{
    color: #49494F;
    background: #D0FD89;
}
.vegetables{
    color: #FFFFFF;
    background: #AEBC41;
}
.meat{
    color: #FFFFFF;
    background: #B86B78;
}
.chiken{
    background: #D68334;
    color: #FFFFFF;
}
.fish{
    background: #CD6255;
    color: #FFFFFF;
}
.kids{
    color: #49494F;
    background: #FFFDBF;
}
.parents{
    color: #49494F;
    background: #F6FDC8;
}
.holidays{
    color: #49494F;
    background: #FEF7FE;
}
.category{
    background-color: #F6F6F6;
    padding-bottom: 60px;
}
.category-text{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    color: #000000;
    padding: 40px 0px;
}
.category-cards{
    display: flex;
    margin: -15px;
}
.category-card{
    margin: 15px;
    max-width: 270px;
    border-radius: 20px;
    overflow: hidden;
    background: #FFFFFF;
}
.category-card-img{
    max-width: 100%;
}
.category-card-tag{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    max-width: 200px;
    margin-top: 21px;
    margin-bottom: 13px;
    margin-left: 23px;
}
.category-card-description{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
    max-width: 220px;
    margin-left: 23px;
    text-align: left;
    margin-bottom: 36px;
}
.category-card-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-card-price{
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
    display: block;
    margin-bottom: 5px;
    margin-left: 23px;
}
.category-card-mass{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
    margin-left: 23px;
}
.button-outline{
    padding: 15px 25px;
    border: 2px solid #F37321;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F37321;
    background: transparent;
    border-radius: 33px;
    margin: 21px 24px;
    cursor: pointer;
}
.category-tabs{
    display: flex;
    list-style-type: none;
    /*margin: 0;*/
    padding: 0;
    margin-bottom: 62px;
}
.category-tab{
    margin-right: 58px;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}
.category-tab.active{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #F37321;
}
.more{
    display: block;
    width: 315px;
    margin: auto;
    margin-top: 60px;
    cursor: pointer;
}
.benefit-text{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 50px;
}
.benefit-cards{
    display: flex;
    margin: -15px;
}
.benefit-card{
    max-width: 270px;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    margin: 15px;
}
.benefit-card-img{
    width: 60px;
    height: 60px;
    /*text-align: center;*/
    margin: 30px 105px;
}
.benefit-tag{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 23px;
    color: #000000;
    max-width: 158px;
    margin-left: 56px;
}
.benefit-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #49494F;
    max-width: 223px;
    position: center;
    margin-left: 24px;
}
.grey{
    margin-top: 202px;
    background: #F6F6F6;
    padding: 40px;
}
.footer{
    display: flex;
    align-items: center;
}
.footer-logo{
    margin-right: 50px;
}
.write{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #000000;
    margin-right: 50px;
}
.social-links{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.social-link{
    margin-left: 20px;
    text-decoration: none;
}
.slider-buttons{
    position: absolute;
    right: 46px;
    bottom: 40px;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}
.slider-button{
    cursor: pointer;
}
.swiper{
    position: relative;
}

@media (max-width: 1260px) {
    .container{
        max-width: 950px;
    }
    .search-form{
        margin-left: 40px;
        margin-right: 40px;
    }
    .category-cards{
        flex-wrap: wrap;
    }
    .category-card{
        flex: 50%;
        max-width: calc(50% - 30px);
    }
    .benefit-cards{
        flex-wrap: wrap;
    }
    .benefit-card{
        flex: 50%;
        max-width: calc(50% - 30px);
    }
    .benefit-description{
        margin-left: calc(50% - 120px);
    }
    .benefit-tag{
        margin-left: calc(50% - 90px);
    }
    .benefit-card-img{
        margin-left: calc(50% - 40px);
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
    .slide{
        padding: 50px;
    }
    .delivery-card{
        width: calc(50% - 30px);
    }
}
@media (max-width: 768px){
    .container{
        max-width: 560px;
    }
    .header{
        flex-wrap: wrap;
    }
    .search-form{
        order: 5;
    }
    .promo{
        flex-wrap: wrap;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 90%;
    }
    .slide{
        padding: 40px;
    }
    .slide-title{
        font-size: 30px;
    }
    .delivery-card{
        width: 100%;
    }
    .category-card{
        max-width: 100%;
    }
    .benefit-card{
        max-width: 100%;
    }
    .social-links{
        flex-wrap: wrap;
        margin-right: 25px;
    }
    .footer-logo{
        margin-left: 0;
        margin-right: 40px;
    }
    .grey{
        padding-left: 0 ;
    }
    .slider-buttons{
        margin-bottom: 0;
    }
}